[submodule "extern/tree-sitter"]
	path = extern/tree-sitter
	url = ../../tree-sitter/tree-sitter.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = ../../catchorg/Catch2.git
[submodule "extern/m.css"]
	path = extern/m.css
	url = ../../Lythenas/m.css.git
